@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}


i {
	margin-right: 10px;
}

#navbar-animmenu {
	background: #ffffff;
	float: left;
	overflow: hidden;
	position: fixed;
	top: 0px;
	padding: 10px 0px;
	width: 100%;
}

#navbar-animmenu ul{
	padding: 0px;
	margin: 0px;
  
}

#navbar-animmenu ul li a i{
	margin-right: 10px;
}

#navbar-animmenu li {
	list-style-type: none;
	float: right;
}

#navbar-animmenu ul li a{
	color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    display: block;
    padding: 0px 20px;
    transition-duration:0.6s;
    position: relative;
}


.products-body{
	margin-top: 10vh;
}

.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 10px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}

.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

.home-section{
        width: 100%;
		padding: 5px;
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(auto-fit, 265px);
        -ms-grid-template-coumns: repeat(auto-fit, 265px);
        grid-gap: 1px;
        grid-template-rows: 5;
        -ms-grid-template-rows: 5;
}

.home-section .card{
	box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.05);
    margin: 2px;
    cursor: pointer;
}


.card .Icard-footer a{
	color: white;
	text-decoration: none;
}

.card .card-header img{
	width: 100%;
	height: 100%
}

.Icard:hover{
        /* border: 1px solid orangered; */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

