.products{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    margin-top: 10vh;
}

.products div{
    width: 70%;
}
    
.add-products .form-group{
    width: 100%;
}

.form-group input{
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

table tr{
    padding: 5px;
}

table thead{
    background-color: rgb(207, 207, 207);
    padding: 5px;
}

tbody tr{
    border-bottom: 1px solid #dddddd;
}